<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> &raquo; <h1>Contact Us</h1>
</div>

<div class="hidden-xs col-lg-2 col-md-3 col-sm-3">
#%in1%#
</div>
<div class="col-lg-8 col-md-9 col-sm-9">
<a name="content_top"></a>


#%info%#

<div class="well">
<h1>Contact Us</h1>
<form method="post" action="contact.php">
<input type="hidden" name="page" value="1">
<table cellspacing="0" cellpadding="4" border=0 class="table table-responsive table_noborder" width="100%">
<tr>
<td align="left" valign="top" nowrap>Name </td>
<td align="left" valign="top"><INPUT class="form-control" maxLength="255" name="name" value="#%name%#"></td>
</tr>
<tr>
<td align="left" valign="top">Email </td>
<td align="left" valign="top"><INPUT class="form-control" maxLength="255" name="email" value="#%email%#"></td>
</tr>
<tr>
<td align="left" valign="top">Message </td>
<td align="left" valign="top"><textarea class="form-control" style="height:300px;" name="message">#%message%#</textarea></td>
</tr>
#%field_captcha_test%#
<tr>
<td align="center" colspan=2><INPUT type="submit" value="Submit" name="B1" class="btn btn-primary"></td></tr>
</table>
</form>
</div>

</div>
<div class="hidden-xs hidden-md hidden-sm col-lg-2">

#%in2%#

</div>


