



<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> &raquo; <h1>Update Your Password</h1>
</div>


<div class="hidden-xs col-lg-2 col-md-3 col-sm-3">

#%in1%#
</div>
<div class="col-lg-8 col-md-9 col-sm-9">


#%info%#

<form action="#%site_url%#/user.php" method="post">
<input type="hidden" name="action" value="using_temporary_password">
<input type="hidden" name="n" value="#%n%#">
<input type="hidden" name="password_temp" value="#%password_temp%#">

<div class="well">
<h1>You use a temporary password </h1>
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="table table-responsive table_noborder">
<tr>
<td nowrap align="left">Email </td>
<td align="left">#%email%#</td>
</tr>
<tr>
<td nowrap align="left">Enter new password </td>
<td nowrap align="left"><input class="form-control" maxlength="15" size="15" name="password" value="" style="width:500px"></td>
</tr>
<tr><td align="center" colspan=3><input type="submit" value="Submit" name="B1" class="btn btn-primary"></td></tr>
</table>
</div>


</form>

</div>
<div class="hidden-xs hidden-md hidden-sm col-lg-2">


#%in2%#

</div>

