



<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> &raquo; <h1>Your Classified Ads</h1>
</div>


<div class="hidden-xs col-lg-2 col-md-3 col-sm-3">

#%in1%#
</div>
<div class="col-lg-8 col-md-9 col-sm-9">


#%info%#


<div class="well">
<h1>User Options </h1>
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="table table-responsive table_noborder">

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%user_site_url%#">Click here</a> for your personal page in our directory</td></tr>

#%hide_upgrade_begin%#
<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=user_upgrade">Upgrade your membership</a></td></tr>
<tr><td align="left">Only premium users can submit classifieds.</td></tr>
#%hide_upgrade_end%#

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=user_edit">Update your profile</a></td></tr>
<tr><td align="left">This link offers a form where you can edit your password, name, email address, style, subscribed newsletters and other info.</td></tr>

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=ad_create">Create a new classified</a></td></tr>
<tr><td align="left">Use this link to add a new classified to this site.</td></tr>

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=show_classifieds">Your classifieds</a></td></tr>
<tr><td align="left">You can review & edit all your existing classifieds. There is also the option to order extra features and view statistics.</td></tr>

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=orders">Your orders</a></td></tr>
<tr><td align="left">A list of your orders with the option to download an invoice for each of them.</td></tr>

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=user_favorites">Your bookmarks</a></td></tr>
<tr><td align="left">List of your bookmarked categories and classifieds.</td></tr>

<tr><td nowrap align="left" style="font-size:15px;"><a href="#%site_url%#/user.php?action=user_log_off">Log off</a></td></tr>
</table>
</div>

</div>
<div class="hidden-xs hidden-md hidden-sm col-lg-2">


#%in2%#

</div>
