



<div class="div_navigation">
<a href="#%site_url%#/index.php">Home</a> &raquo; <h1>Your Orders</h1>
</div>


<div class="hidden-xs col-lg-2 col-md-3 col-sm-3">

#%in1%#
</div>
<div class="col-lg-8 col-md-9 col-sm-9">



<div class="well">
<h1>Your Orders </h1>
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="table table-responsive table_noborder">
<tr>
<td align="left" valign="top" width="40">#</td>
<td align="left" valign="top">Description</td>
<td align="left" valign="top">Base price</td>
<td align="left" valign="top">Tax</td>
<td align="center" valign="top">Date</td>
<td align="center" valign="top">Paid</td>
<td align="center" valign="top">Download invoice</td>
</tr>
#%orders%#
</table>
</div>


</div>
<div class="hidden-xs hidden-md hidden-sm col-lg-2">


#%in2%#

</div>
